<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
		 <security>
          <requestFiltering allowDoubleEscaping="True"/>
        </security>
    </system.webServer>
</configuration>
